.bannerSearch {
  background-image: url('/assets/images/img_banner.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #d9d9d9;

  height: 300px;
  width: 100%;
  border-radius: 8px;
}

.bannerTitle {
  padding-top: 4rem;
  font-weight: bold;
  font-size: 1.75rem;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.bannerSubTitle {
  text-align: center;
  letter-spacing: 0.1rem;
}

.bannerSearchWrap {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bannerInputSearch {
  max-width: 400px;
  outline: none;
}
