.headerComponent{
  background-color: #fff;
  box-shadow: 0 2px 4px rgb(0 0 0 / 18%);
  left: 0;
  padding: 20px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.wrapper{
  margin: auto;
  max-width: 1920px;
  width: 90%;
}

.menuAntd{
  border-bottom: none;
}

.menuItemAntd{
  width: 'fit-content'
}