.content__sign-in{
    background-color: bisque;
    border-radius: 8px;
}

.select-type__sign-up,
.sign-up{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content__sign-up{
    display: flex;
    justify-content: center;
}

.background-color{
    background-color: bisque;
    border-radius: 8px;
}