.defaultLayout {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.wrapper {
  background-color: #fff;
  height: 100vh;
  align-items: center;
}

.mainContent {
  margin: auto;
  max-width: 1920px;
  width: 90%;
}
